---
# https://molecule.readthedocs.io/en/latest/configuration.html#
scenario:
  name: default
  test_sequence:
    - lint
    - destroy
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - destroy

dependency:
  name: galaxy
  options:
    role-file: requirements.yml

driver:
{% if lookup('pipe','uname') == 'Darwin' %}
  name: docker
{% else %}
  name: podman
{% endif %}

platforms:
  - name: alma8
    image: dokken/almalinux-8
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/lib/containerd
    privileged: true
    cgroupns_mode: host
    command: "/usr/sbin/init"

provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callbacks_enabled: profile_tasks, timer
    ssh_connection:
      pipelining: false

lint: |
  set -e
  yamllint .
  ansible-lint

verifier:
  name: ansible
